{% extends 'base.html.twig' %}

{% block title %}e-Learning{% endblock %}

{% block body %}

<div ref="words" data-words="{{ words|join(',') }}">

</div>

<div id="app">
    <app-header></app-header>
    <carousel></carousel>
    <p></p>
    <headings></headings>
    <app-footer></app-footer>
</div>
{% endblock %}
